# Mot de passe que tu choisis (seul toi le connais)
SITE_PASSWORD=ADN2231!

# Token aléatoire pour le cookie de session (génère avec: openssl rand -hex 32)
AUTH_TOKEN=9bb74689596472b308a15836b01e02d7b725b3238f404219e7800d3e9c1c2084
